@charset "utf-8";
/* CSS Document */
body { background:url(../images/register/bg_body.jpg);}
#warp { width:100%;}
#contents { width:100%;}
#contents .logtit { width:940px; height:95px; background:url(../images/register/logo.jpg) left top no-repeat; margin:0 auto; }
#contents .findPass{ width:940px; height:369px; padding-top:23px; border-top:3px solid #c9003d; margin:0 auto;}
#contents .findPass .findtit { padding-left:15px; height:34px; font-size:20px; color:#2b2b2b; font-family:"微软雅黑";} 
#contents .findPass .toptit { width:910px; height:30px; position:relative; font-size:13px;}
#contents .findPass .toptit .step1 { float:left; width:167px; padding-left:69px; height:30px; line-height:30px; color:#fff; background:url(../images/password/step1.png) no-repeat;}
#contents .findPass .toptit .step2 { float:left; width:160px; padding-left:74px; height:30px; line-height:30px; color:#2b2b2b; background:url(../images/password/set2.png) no-repeat; margin-left:-10px;}
#contents .findPass .toptit .step2ok { background:url(../images/password/set2ok.png) no-repeat; color:#fff;}
#contents .findPass .toptit .step4 { float:left; margin-left:-10px; width:137px; padding-left:97px; height:30px; line-height:30px; color:#2b2b2b; background:url(../images/password/step4.png) no-repeat;}
#contents .findPass .toptit .step4ok { background:url(../images/password/step4ok.png) no-repeat; color:#fff;}
#contents .findPass .topcon { padding:33px 0 0 301px;}
#contents .findPass .topcon dl { height:25px; margin-bottom:18px;}
#contents .findPass .topcon dl dt { float:left; width:54px; height:25px; line-height:25px; font-size:13px; color:#2b2b2b;}
#contents .findPass .topcon dl dd { float:left;}
.nextStep { width:120px; height:40px; background:url(../images/password/nextstep.jpg) no-repeat; margin-top:17px;}
.inputname { width:259px; height:23px; border:1px solid #dcdcdc;}
.inputyanz { float:left; width:74px; height:23px; border:1px solid #dcdcdc;}
.yanzplace { float:left; width:84px; height:25px; background:#dcdcdc; line-height:25px; margin-left:24px;}
.changgeyanz { float:left; width:44px; height:25px; margin-left:10px; line-height:25px; color:#004dcd; text-decoration:underline; cursor:pointer;}
/*step2*/
#contents .findPass .topcon2 { padding-top:33px; width:940px; color:#2b2b2b; font-size:13px; font-family:"微软雅黑";}
#contents .findPass .topcon2 dl { width:940px; height:25px; margin-bottom:17px;}
#contents .findPass .topcon2 dl dt { float:left; width:355px; height:25px; line-height:25px; text-align:right;}
#contents .findPass .topcon2 dl dd { float:left; height:25px; line-height:25px;}
.selectway { width:259px; height:23px; border:1px solid #dcdcdc;} 
.yanzcode {padding-left:9px; color:#004dcd;}
.input_code { float:left; width:89px; height:23px; border:1px solid #dcdcdc;}
.tips { float:left; margin-left:9px; padding-left:20px; background:url(../images/password/icon.jpg) left no-repeat; color:#2b2b2b;}
.marginleft { margin-left:301px;}
/*step3*/
#contents .findPass .topcon3 { padding:23px 0 0 288px; width:622px; font-family:"微软雅黑"; font-size:13px; color:#2b2b2b;}
#contents .findPass .topcon3 .top3con3tit { height:39px;}
#contents .findPass .topcon3 dl { height:25px; margin-bottom:28px;}
#contents .findPass .topcon3 dl dt { float:left; width:67px; height:25px; line-height:25px;}
#contents .findPass .topcon3 dl dd { float:left;}
.input_password { width:259px; height:23px; border:1px solid #dcdcdc; line-height:23px;}
.button_sure { width:120px; height:40px; margin-left:13px; background:url(../images/password/sure.jpg) no-repeat;}
/*step4*/
#contents .findPass .topcon4 { margin-top:20px; width:910px; height:158px; border-top:3px solid #c9003d;}
#contents .findPass .topcon4 .topcon4con { width:908px; padding-top:40px; height:116px; background:#ebffde; border:1px solid #dcdcdc;}
#contents .findPass .topcon4 .topcon4con .text {  height:105px;}
#contents .findPass .topcon4 .topcon4con .text .line1 { height:50px; font-family:"黑体"; font-size:30px; color:#7abd54;}
#contents .findPass .topcon4 .topcon4con .text .line2 { height:40px;}
#contents .findPass .topcon4 .topcon4con .text .line2 a { color:#004dcd;}
#contents .findPass .topcon4 .topcon4con .text .line2 a:hover { text-decoration:underline;}
.right { float:left; padding:0 32px 0 56px; }